@charset "UTF-8";
.contenedor-header {
  background-color: gainsboro;
  height: fit-content;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 200px;
  height: 20vh;
  object-fit: cover;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .logo img {
    width: 30%;
    height: 20vh;
  }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.contenedor__topnav {
  position: absolute;
  left: 83%;
  top: 10%;
}

.topnav {
  position: absolute;
  top: 10%;
  left: 40%;
}

@media (max-width: 768px) {
  .topnav {
    position: absolute;
    left: 5%;
    top: 10%;
  }
}
@media (max-width: 375px) {
  .topnav {
    display: none;
  }
}
.iconos-topnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .iconos-topnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
  }
}
.english,
.shopping,
.user {
  margin-left: 10px;
}

a {
  text-decoration: none !important;
  color: black;
}

.menu li:hover {
  transform: scale(1.5);
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.menu li {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100px;
  font-size: larger;
}

@media (max-width: 768px) {
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
}
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contenedor-principal {
  position: absolute;
}

.carousel-inner img {
  width: 100%;
  object-fit: cover;
}

.contenido-video {
  color: white;
  text-align: center;
  font-size: 50px;
}

video {
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.texto__ofertas,
.texto__productos,
.texto__noticias,
.texto__contacto {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 3%;
  font-size: 40px;
  border-bottom: 3px solid rgb(20, 20, 124);
}

.contenedor-ofertas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 768px) and (max-width: 1280px) {
  .contenedor-ofertas {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .contenedor-ofertas {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ofertas__articulos img {
  width: 300px;
  height: 300px;
  margin: 50px;
  border: 5px solid gainsboro;
  padding: 5px;
}

.ofertas__icono {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 110px;
  color: rgb(179, 16, 16);
}

.ofertas__articulos {
  transition: all 0.5s;
}

.ofertas__articulos:hover {
  transform: scale(1.3);
}

h3 {
  font-size: 50px;
}

.noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contenedor-contactos {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .contenedor-contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .contenedor-contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contactos {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 30px;
}

.iconos-contactos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .iconos-contactos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 50px 0;
  }
}
@media (max-width: 767px) {
  .iconos-contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.mapa iframe {
  width: 500px;
  height: 400px;
}

.ubicacion,
.telefono,
.correo {
  display: flex;
  flex-direction: row;
}

.ubicacion,
.telefono,
.correo h4 {
  margin-left: 10px;
}

.footer {
  background-color: gainsboro;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.redes {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
  left: 80%;
}

@media (max-width: 768px) {
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.fb,
.inst,
.twitter {
  margin-left: 30px;
}

h6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hombre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.producto-hombre img {
  border: 5px solid gainsboro;
  width: 300px;
  height: 40vh;
  margin: 60px;
}

.mujer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.producto-mujer img {
  border: 5px solid gainsboro;
  width: 300px;
  height: 40vh;
  margin: 60px;
}

.niño {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.producto-niño img {
  border: 5px solid gainsboro;
  width: 300px;
  height: 40vh;
  margin: 60px;
}

.articulos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.articulosDeportivos img {
  border: 5px solid gainsboro;
  width: 300px;
  height: 40vh;
  margin: 60px;
}

.textoProductos {
  font-size: 35px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .hombre, .mujer, .niño, .articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .hombre, .mujer, .niño, .articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 375px) {
  .hombre, .mujer, .niño, .articulos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.ofertas {
  margin-bottom: 50px;
}

.ofertas1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.ofertas2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.imagenesOferta1 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.imagenesOferta2 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.imagenesOferta3 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.imagenesOferta4 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.imagenesOferta5 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.imagenesOferta6 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.imagenesOferta7 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.imagenesOferta8 img {
  width: 200px;
  height: 35vh;
  margin: 80px;
  margin-bottom: 0;
  border: 5px solid gainsboro;
}

.iconosOferta1 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.iconosOferta2 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.iconosOferta3 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.iconosOferta4 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.iconosOferta5 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.iconosOferta6 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.iconosOferta7 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.iconosOferta8 {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 16, 16);
}

.hover-ofertas:hover {
  transform: scale(1.3);
}

@media (max-width: 768px) {
  .ofertas1, .ofertas2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 375px) {
  .ofertas1, .ofertas2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.card {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .card {
    margin: 30px;
  }
}
@media (max-width: 768px) {
  .contenedor-contactos {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .contenedor-contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iconos-contactos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 50px 0px;
  }
}
@media (max-width: 1280px) {
  .iconos-contactos {
    display: flex;
    align-items: stretch;
  }
}

/*# sourceMappingURL=style.css.map */
