*{
    margin: 0;
    padding: 0;
}
.contenedor-header{
    background-color: gainsboro; 
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.logo img{
    width: 200px;
    height: 20vh;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .logo img {
        width: 30%;
        height: 20vh;
    }
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.contenedor__topnav{
    position: absolute;
    left: 83%;
    top: 10%;
}
.topnav{
    position: absolute;
    top: 10%;
    left: 40%;
}
@media (max-width: 768px) {
    .topnav {
        position: absolute;
        left: 5%;
        top: 10%;
    }
}
@media (max-width: 375px) {
    .topnav {
        display: none;
    }
}
.iconos-topnav{
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px ) {
    .iconos-topnav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 100px;
    }
}
.english,
.shopping,
.user{
    margin-left: 20px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.menu li{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100px;
    font-size: larger;
}
@media (max-width: 768px) {
    .menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }
}
a{
    text-decoration: none !important;
    color: black !important;
}
a:hover {
    transform: scale(1.5);
}

/* CSS Página principal */
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contenedor-principal{
    position: absolute;
}
.contenido-video{
    color: white;
    text-align: center;
    font-size: 50px;
}
video{
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 70vh;
}
.texto__ofertas,
.texto__productos,
.texto__noticias,
.texto__contacto{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3%;
    font-size: 40px;
    border-bottom: 3px solid rgb(20, 20, 124);
}
.contenedor-ofertas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 768px) {
    .contenedor-ofertas {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .contenedor-ofertas {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 1024px ) {
    .contenedor-ofertas {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px ) {
    .contenedor-ofertas {
        grid-template-columns: repeat(4, 1fr);
    }
}

.ofertas__articulos img{
    width:300px;
    height: 300px;
    margin: 50px;
    border: 5px solid gainsboro;
    padding: 5px;
}
.ofertas__icono{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 110px;
    color: rgb(179, 16, 16);
}
.card1 {
    transition: all 0.5s;
}
.card1:hover {
    transform: scale(1.3);
}
.card2 {
    transition: all 0.5s;
}
.card2:hover {
    transform: scale(1.3);
}
.card3 {
    transition: all 0.5s;
}
.card3:hover {
    transform: scale(1.3);
}
.card4 {
    transition: all 0.5s;
}
.card4:hover {
    transform: scale(1.3);
}

h3{
    font-size: 50px;
}
.noticias{
    display: grid;
    grid-template-columns: (2, 1fr);
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
}
.imagen__noticias{
    width: 70%;
    height: 40vh;
    margin-left: 3%;
}
.noticia1 p {
    width: 350px;
    margin-left: 20px;
}
.noticia2{
    display: flex;
    margin-left: 85% ;
}
.noticia2 p{
    width: 350px;
    margin-left: 20px;
}
.contenedor-contactos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
    .contenedor-contactos {
        display: flex;
        flex-direction: column;
    }
}
.contactos{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
}
@media (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
.mapa{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}
.iconos__contactos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 90px;
}
@media (max-width: 768px) {
    .iconos__contactos {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px 0 50px 0;
    }
}
.ubicacion,
.telefono,
.correo{
    display: flex;
    flex-direction: row;
}
.ubicacion,
.telefono,
.correo h4{
    margin-left: 10px;
}
.form{
    margin-left: 100px;
}
/* Termina CSS Página principal */
.footer{
    background-color: gainsboro; 
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80px;
    left: 80%;
}
@media (max-width: 768px) {
    .redes {
        display: flex;
        flex-direction: column;
    }
}
.fb,
.inst,
.twitter{
    margin-left: 30px;
}
h6{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* CSS Productos */

.hombre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 .producto-hombre img{
    border: 5px solid gainsboro;
    width: 300px;
    height: 40vh;
    margin: 60px;
} 
.mujer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.producto-mujer img{
    border: 5px solid gainsboro;
    width: 300px;
    height: 40vh;
    margin: 60px;
}
.niño{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.producto-niño img{
    border: 5px solid gainsboro;
    width: 300px;
    height: 40vh;
    margin: 60px;
}
.articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.articulosDeportivos img{
    border: 5px solid gainsboro;
    width: 300px;
    height: 40vh;
    margin: 60px;
}
.textoProductos{
    font-size: 35px;
    margin-left: 20px;
} 
@media (max-width: 768px) {
    .hombre, .mujer, .niño, .articulos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 769px) and (max-width:1280px) {
    .hombre, .mujer, .niño, .articulos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 375px) {
    .hombre, .mujer, .niño, .articulos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Termina CSS Productos */

/* CSS Ofertas */

.ofertas{
    margin-bottom: 50px;
}
.ofertas1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.ofertas2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.imagenesOferta1 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}
.imagenesOferta2 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}
.imagenesOferta3 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}
.imagenesOferta4 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}
.imagenesOferta5 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}
.imagenesOferta6 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}
.imagenesOferta7 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}
.imagenesOferta8 img{
    width: 200px;
    height: 35vh;
    margin: 80px;
    margin-bottom: 0;
    border: 5px solid gainsboro;
}

.iconosOferta1{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.iconosOferta2{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.iconosOferta3{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.iconosOferta4{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.iconosOferta5{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.iconosOferta6{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.iconosOferta7{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.iconosOferta8{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    color: rgb(179, 16, 16);
}
.hover-ofertas:hover{
    transform: scale(1.3);
}
@media (max-width: 768px) {
    .ofertas1, .ofertas2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 375px) {
    .ofertas1, .ofertas2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Termina CSS ofertas */

/* CSS Noticias */

.col {
    display: flex;
    flex-direction: column;
}
/* Termina CSS noticias */
