@import '../base/variables';
@import '../base/mixins';

.ofertas{
    margin-bottom: 50px;
}
.ofertas1{
    @include ofertas;
}
.ofertas2 {
    @include ofertas;
}
.imagenesOferta1 img{
    @include img-ofertas;
}
.imagenesOferta2 img{
    @include img-ofertas;
}
.imagenesOferta3 img{
    @include img-ofertas;
}
.imagenesOferta4 img{
    @include img-ofertas;
}
.imagenesOferta5 img{
    @include img-ofertas;
}
.imagenesOferta6 img{
    @include img-ofertas;
}
.imagenesOferta7 img{
    @include img-ofertas;
}
.imagenesOferta8 img{
    @include img-ofertas;
}
.iconosOferta1{
    @include iconos-ofertas;
}
.iconosOferta2{
    @include iconos-ofertas;
}
.iconosOferta3{
    @include iconos-ofertas;
}
.iconosOferta4{
    @include iconos-ofertas;
}
.iconosOferta5{
    @include iconos-ofertas;
}
.iconosOferta6{
    @include iconos-ofertas;
}
.iconosOferta7{
    @include iconos-ofertas;
}
.iconosOferta8{
    @include iconos-ofertas;
}
.hover-ofertas:hover{
    transform: scale(1.3);
}
@media (max-width: 768px) {
    .ofertas1, .ofertas2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 375px) {
    .ofertas1, .ofertas2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}