@import '../base/variables';
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contenedor-principal{
    position: absolute;
}
.carousel-inner img{
    width: 100%;
    object-fit: cover;
}
.contenido-video{
    color: white;
    text-align: center;
    font-size: 50px;
}
video{
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 70vh;
}
.texto__ofertas,
.texto__productos,
.texto__noticias,
.texto__contacto{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3%;
    font-size: 40px;
    border-bottom: 3px solid rgb(20, 20, 124);
}
.contenedor-ofertas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 768px) and (max-width: 1280px) {
    .contenedor-ofertas {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .contenedor-ofertas {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.ofertas__articulos img{
    width:300px;
    height: 300px;
    margin: 50px;
    border: $border-imagenes;
    padding: 5px;
}
.ofertas__icono{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 110px;
    color: $color-ofertas;
}
.ofertas__articulos{
    transition: all 0.5s;
}
.ofertas__articulos:hover{
    transform: scale(1.3);
}
h3{
    font-size: 50px;
}
.noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
    .noticias{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.contenedor-contactos {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
}
@media (max-width: 768px) {
    .contenedor-contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
 @media (min-width: 769px) and (max-width: 1200px) {
     .contenedor-contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}
.contactos{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 30px;
}
.iconos-contactos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media (max-width: 768px) {
    .iconos-contactos {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px 0 50px 0;
    }
}
@media (max-width: 767px) {
    .iconos-contactos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
.mapa iframe {
    width: 500px;
    height: 400px;
}
.ubicacion,
.telefono,
.correo{
    display: flex;
    flex-direction: row;
}
.ubicacion,
.telefono,
.correo h4{
    margin-left: 10px;
}