@import '../base/variables';
@import '../base/extends';

.hombre{
    @extend %estructura-productos;
}
.producto-hombre img{
    @extend %border;
} 
.mujer {
    @extend %estructura-productos;
}
.producto-mujer img{
    @extend %border;
}
.niño{
    @extend %estructura-productos;
}
.producto-niño img{
    @extend %border;
}
.articulos{
    @extend %estructura-productos;
}
.articulosDeportivos img{
    @extend %border;
}
.textoProductos{
    font-size: 35px;
    margin-left: 20px;
} 
@media (max-width: 768px) {
    .hombre, .mujer, .niño, .articulos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 769px) and (max-width:1280px) {
    .hombre, .mujer, .niño, .articulos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 375px) {
    .hombre, .mujer, .niño, .articulos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}