%border {
    border: $border-imagenes;
    width: 300px;
    height: 40vh;
    margin: 60px;
}
%estructura-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}